.material-animation.material-animation__slide-in-right > * {
  visibility: hidden; 
  -ms-transform: translate3d(250px, 250px, 0);
  -webkit-transform: translate3d(250px, 250px, 0);
  transform: translate3d(250px, 250px, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  opacity: 0;
  filter: alpha(opacity=0);
}

.material-animation.material-animation__slide-in-right .material-animation.material-animation__animating {
  visibility: visible;
  -ms-transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  filter: alpha(opacity=100);
}